/* Toggle switch */
.form-switch .form-check-input:checked {
  background-color: #22c55e; 
}

/* Custom CSS for counting animation */
.count-up {
    display: inline-block;
    transition: transform 1s ease-in-out;
}

/* Custom CSS to change Bootstrap outline success button colors */
.btn-outline-success {
    border-color: #22c55e !important;
    color: #22c55e !important;
}

.btn-outline-success:hover {
    color: #fff !important; /* Text color on hover */
    background-color: #22c55e !important; /* Background color on hover */
}

.btn-outline-success:active {
    color: #fff !important; /* Text color on active */
    background-color: #22c55e !important; /* Background color on active */
    border-color: #22c55e !important; /* Border color on active */
}

/* Custom CSS for change success color */
.alert-success {
    background-color: #22c55e !important;
}
.bg-success {
    background-color: #22c55e !important;
}
.text-success {
    color: #22c55e !important;
}

.div-inline{
    display:inline-block;
}
.blur{
    filter: blur(4px);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.dropdown-center{
    top: 120% !important;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

@media (min-width: 1500px) {
    .main-content-dashboard {
        flex: 0 0 auto;
        width: 73.33333%;
    }   
}

.dropdown-menu-center{
    right: auto !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
}
  .mt-minus{
    margin-top: -12rem !important;
}


tr.noBorder td, thead {
  border-bottom-style: hidden;
}

td,th {
    border-color: #edf2f8;
    
}

td 
{
    height: 80px; 
    width: 100px;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #edf2f8;
}

.form-control:focus {
    border-color: #03d97e;
    box-shadow: 0 0 0 0.2rem rgba(245, 255, 247, 0.25);
} 


.pagination>li.active>a {
    border-color: #03d97e !important;
    background: #03d97e !important;
  color: #fff;
}